.add-items {
  background: none;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-items h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: var(--gray);
  font-weight: 200;
}

.new-item-input {
  display: flex;
  background-color: var(--darker);
  padding: 1.1rem;
  border-radius: 1rem;
  width: 60rem;
  color: var(--light);
  font-weight: 700;
}

.new-item-input::placeholder {
  color: var(--gray);
  font-size: 1.5rem;
  font-weight: 700;
}

.input-items-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
